@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#section .flex-container {
  background: #3b4346 url(../images/bg01.jpeg);
  min-height: 135px;
  border-bottom: solid 1px #272d30;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-shadow: -1px -1px 1px rgb(0 0 0 / 75%);
  color: #a0a8a9;
}

#section .flex-container nav {
  display: flex;
  min-height: 135px;
}

#section .flex-container nav .navleft {
  display: flex;
  flex-basis: 35%;
  height: 135px;
  /* border: 1px solid red; */
  align-items: center;
  padding-left: 70px;
  color: #fff;
  font-size: 50px;
  font-weight: lighter;
}
#section .flex-container nav .navright {
  flex-basis: 65%;
  height: 135px;
  font-size: 160%;
  font-weight: 100;
}

#section .flex-container nav .navright ul {
  height: 135px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  /* border: 1px solid red; */
  align-items: center;
}

#section .flex-container nav .navright ul li {
  align-items: flex-end;
}

#section .flex-container .main1 {
  display: flex;
  align-items: center;
  height: 300px;
  background-image: url("../images/bg01.jpeg");
  /* height: 100vh; */
  border: 1px solid rgb(82, 82, 82);
  justify-content: space-evenly;
}

#section .flex-container main .aside-left {
  flex-basis: 50%;
  padding: 80px;
}
#section .flex-container main .aside-right {
  flex-basis: 50%;
}

#section .flex-container main .aside-left h1 {
  font-size: 35px;
  padding-bottom: 30px;
  font-weight: 200;
  color: #fff;
}

#section .flex-container main .aside-left button {
  font-size: 30px;
  font-weight: bolder;
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #ed391b;
  color: #fff;
  border-radius: 10px;
  border-color: #fff;
  border-width: 0.1px;
  box-shadow: 1px 2px 3px black;
  text-shadow: 1px 2px 2px black;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

#section .flex-container main .aside-right a img {
  padding: 10px;
  /* border: 1px solid white; */
  background-image: url("../images/bag.jpeg");
  background-color: #fff;
}

#section .flex-container .main2 {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-evenly;
  height: 400px;
  align-items: center;
}

#section .flex-container .main2 article {
  width: 400px;
  /* background-color: #ed391b; */
  padding: 20px;
  /* border: 1px solid white; */
}

#section .flex-container .main2 article figure {
  padding: 10px;
  background-image: url("../images/bag.jpeg");
  background-color: #fff;
  margin-bottom: 40px;
}
#section .flex-container .main2 article h1 {
  font-size: 25px;
  padding-bottom: 20px;
  color: #fff;
  font-weight: 500;
}

#section .flex-container .main2 article p {
  line-height: 30px;
  font-size: 18px;
}

#section .flex-container .main3 {
  display: flex;
  align-items: center;
  background-image: url("../images/bag.jpeg");
  background-color: #fff;
  height: 600px;
  width: 100%;
}

#section .flex-container .main3 section {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  height: 500px;
  align-items: center;
  /* border: 1px solid black; */
}

#section .flex-container .main3 section article {
  /* border: 1px solid black; */
  width: 31%;
  height: 100%;
  background-color: #fff;
  box-shadow: 1px 2px 6px #c1c1c1;
  padding: 30px;
  padding-top: 50px;
}

#section .flex-container .main3 section article h1 {
  font-size: 30px;
  font-weight: 600;
  color: black;
  padding-bottom: 20px;
  text-shadow: none;
}

#section .flex-container .main3 section article h4 {
  font-size: 22px;
  font-weight: 500;
  color: black;
  padding-bottom: 40px;
  text-shadow: none;
}

#section .flex-container .main3 section article a img {
  font-size: 22px;
  padding-bottom: 33px;
}

#section .flex-container .main3 section article p {
  font-size: 18px;
  font-weight: 600;
  color: rgb(104, 104, 104);
  margin-bottom: 33px;
  line-height: 35px;
  text-shadow: none;
}

#section .flex-container .main3 section article ul {
  list-style: none;
}
#section .flex-container .main3 section article ul li img {
  padding-right: 20px;
}

#section .flex-container .main3 section .article2 ul li {
  font-size: 20px;
  font-weight: 580;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 35px;
  text-shadow: none;
}

#section .flex-container .main3 section .article3 ul li {
  display: flex;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 70px;
  line-height: 35px;
}

#section .flex-container .main3 section .article3 ul li h4 strong {
  font-size: 15px;
}

#section .flex-container footer {
  width: 100%;
  color: #546b76;
  background: url("../images/bg03.jpeg");
}

#section .flex-container footer .footer-container {
  width: 90%;
  height: 300px;
  display: flex;
  margin: 0 auto;
  /* border: 1px solid red; */
  border-bottom: 1px solid #adadad;
}

#section .flex-container footer .footer-container .footer-left {
  padding-top: 45px;
  flex-basis: 65%;
  /* border: 1px solid white; */
}

#section .flex-container footer .footer-container .footer-right {
  padding-top: 45px;
  flex-basis: 35%;
  padding-left: 10px;
}

#section .flex-container footer .footer-container aside h1 {
  font-size: 20px;
  font-weight: 800;
  color: black;
  text-shadow: none;
  padding-bottom: 25px;
}

#section .flex-container footer .footer-container .footer-left ul {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  list-style: none;
}

#section .flex-container footer .footer-container .footer-left ul li {
  flex-basis: 23%;
  padding: 7px;
}

#section .flex-container footer .footer-container .footer-left ul li a {
  font-size: 18px;
  font-weight: 300;
  color: #546b76;
  text-shadow: 0px 0px 0.1px #546b76;
}

#section .flex-container footer .footer-container .footer-left ul li hr {
  background-color: #727272;
  margin-top: 10px;
}

#section .flex-container footer .footer-container .footer-right p {
  font-size: 18px;
  font-weight: 300;
  color: black;
  text-shadow: none;
  margin-bottom: 20px;
  line-height: 35px;
}

#section .flex-container footer .footer-ref {
  height: 180px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#section .flex-container footer .footer-ref h4 {
  padding: 5px;
  color: #3b4346;
  font-size: 18px;
  font-weight: 200;
  text-shadow: none;
}
